// Fuente
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// COLORS
$Azul: #194C6D;
$AL: #2f93c5;
$Rosa: #B71A69;
$Morado: #A01B5A;
$Amarillo: #D19912;
$Naranja: #C16D35;
$Light: #E9EDF0;
$DR: #C0412E;
$W: #fff;
$Gray: #B1B1B1;
// SHADOWS COLORS
$SA: #B48B1E;
$SM: #CBA5B4;
// BORDERS COLORS
$BM: #831C47;